<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="sitecorepro3.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, sitecorepro3.Foundation.DependencyInjection"/>
		</services>
	</sitecore>
</configuration>