<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Foundation.Indexing" description="Foundation Indexing" dependencies="Foundation.Serialization" >
					<predicate>
						<!--<include name="Models" database="master" path="/sitecore/layout/Models/Foundation/Indexing" />
						<include name="Facets" database="master" path="/sitecore/system/Settings/Buckets/Facets/Foundation/Indexing" />-->
					</predicate>
					<rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles">
						<include domain="modules" pattern="^Foundation Indexing .*$" />
					</rolePredicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>