<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="sitecorepro3" description="Sitecore foundation">
					<targetDataStore physicalRootPath="D:\K14\2022-2023\dot net\project\sitecorepro3\sitecorepro3\Foundation\Serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
					<!--Template-->
						<include name="Sitecore.Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
							<exclude children="true"></exclude>
						</include>
						<include name="Sitecore.Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/Project" >
							<exclude children="false"></exclude>
						</include>
						<include name="Sitecore.Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/Feature" >
							<exclude children="true"></exclude>
						</include>

					<include name="Sitecore.Foundation.Serialization.MediaLibrary.Foundation" database="master" path="/sitecore/media library/Foundation">
						<exclude children="true"></exclude>
					</include>
					<include name="Sitecore.Foundation.Serialization.MediaLibrary.Project" database="master" path="/sitecore/media library/Project" >
						<exclude children="true"></exclude>
					</include>
					<include name="Sitecore.Foundation.Serialization.MediaLibrary.Feature" database="master" path="/sitecore/media library/Feature" >
						<exclude children="true"></exclude>
					</include>

					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>