@{var uri = new Uri(Request.Url.AbsoluteUri);
    string url = uri.Scheme + "://" + uri.Authority;

}
<div id="mainContent">
    <h2 class="TitleH2 DarkScheme">
        About us
    </h2>
    <div class="BlockAboutContent01">
        <p class="AboutIntroParagraph DarkScheme">
            <strong>
                Building Bell est une plateforme interactive qui révolutionne
                le monde de la co-propriété.
            </strong>
        </p>
        <p class="CommonParagraph LightScheme">
            Elle agit comme une plateforme interactive centrale qui permet de :
        </p>
        <ul class="CommonList TextBold">
            <li class="LightScheme">
                <strong>Localiser</strong> les différentes
                résidences affiliées à ses services
            </li>
            <li class="LightScheme">
                <strong>Générer</strong> des sous-sites
                propres à chaque résidence
            </li>
            <li class="LightScheme">
                <strong>Visualiser</strong> des annonces
                de transactions (locations, ventes).
            </li>
            <li class="LightScheme">
                <strong>Archiver</strong> et <strong>
                    publier
                </strong> la documentation probante des co-propriétés
            </li>
            <li class="LightScheme">
                <strong>Améliorer</strong> la communication
                entre tous les intervenants des co-propriétés
            </li>
        </ul>
        <p class="CommonParagraph1 LightScheme">
            Ce système fera office de concierge virtuel, il facilitera la vie en communauté
            et solutionnera de nombreux problèmes au sein d’une résidence, techniques principalement
            par des interventions directes entre les habitants et les corps de métier du syndic.
            A terme, des interactions entre les résidences seront également possibles.
        </p>
    </div>
    <div class="BlockAboutContent02">
        <img class="ImgAboutus" src="@url/images/about-img-01.png" title="" alt="" />
    </div>
    <div class="HrReplacement HrStyle01">
        <hr class="Hidden" />
    </div>
    <div class="BlockAboutContent03">
        <h3 class="AboutTopNodeContent">
            Les avantages sont nombreux pour tous:
        </h3>
        <div class="AboutNodeContent01">
            <h4 class="NodeTitle DarkScheme PaddingTitle1">
                Syndics
            </h4>
            <ul class="ListStyle01 DarkScheme">
                <li>Limitation des coûts de gestion</li>
                <li>Meilleurs services aux clients/habitants</li>
                <li>Vitesse de réaction accrue en cas de problème</li>
                <li>Mise en conformité avec la loi et ses futurs développements</li>
                <li>Gain de temps importants au niveau gestion</li>
                <li>Réduction du besoin en personnel</li>
                <li>Possibilité d’économies d’échelle importantes</li>
                <li>Valorisation accrue du portefeuille clients</li>
            </ul>
        </div>
        <div class="AboutNodeContent02">
            <h4 class="NodeTitle DarkScheme PaddingTitle2">
                Occupants des co-propriétés
            </h4>
            <ul class="ListStyle02 DarkScheme">
                <li>Base de données online de tous les documents probants de leur propriété</li>
                <li>Transparence sur les coûts/comptes de la co-propriété</li>
                <li>Rapidité d’intervention en cas de problème et contrôle</li>
                <li>Contacts directs avec les intervenants/corps de métier</li>
                <li>Interactivité avec les autres occupants</li>
                <li>Limitation des coûts de gestion de la co-propriété</li>
                <li>Mise en valeur de leur bien</li>
            </ul>
        </div>
        <div class="AboutNodeContent03">
            <h4 class="NodeTitle DarkScheme Margin PaddingTitle3">
                Futurs acquéreurs au sein des co-propriétés
            </h4>
            <ul class="ListStyle03 DarkScheme">
                <li>Transparence sur les comptes</li>
                <li>Transparence sur les interventions futurs/PVs...</li>
            </ul>
        </div>
    </div>
    <p class="CommonParagraph1 ClearSpacing LightScheme  H20">
        En conclusion, BuildingBell tend à répondre à un besoin croissant de tout un
        chacun concernant son logement et vise par là même occasion à s’adapter à une
        vie moderne en constante évolution ; et ce en proposant des fonctionnalités supplémentaires
        telles que les réseaux sociaux/networking, le troc, le co-voiturage, le babysitting,
        le dogsitting, etc ...
    </p>
</div>