<div id="mainContent">
    <!--Login Box-->
    <div id="loginBox">
        <div id="loginBoxHomeTop">
            <h2> Login</h2>
            <div class="InputLogin">
                <!--Select-->
                <form>
                    <div class=" FormItemSpacing02">
                        <div class="ui-widget ui-widget-wrapper">
                            <select name="" class="combobox" id="combobox">
                                <option value="1" class="First" selected="selected">All residence</option>
                                <option value="2">Type option 01 sdfdf 11 f f f 11 11</option>
                                <option value="3">Type option 02 sdsf </option>
                                <option value="4">Type option 03 sdfdsf</option>
                                <option value="2">Type option 01 sdfsdf</option>
                                <option value="3">Type option 02</option>
                                <optgroup label="Group01">
                                    <option value="5">Type option 05</option>
                                    <option value="6">Type option 06</option>
                                    <option value="7">Type option 07</option>
                                </optgroup>
                                <optgroup label="Group02">
                                    <option value="5">Type option 08</option>
                                    <option value="6">Type option 09</option>
                                    <option value="7">Type option 10</option>
                                </optgroup>
                                <option value="4">Type option 03</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!--End Select-->
                <!--Login Input-->
                <form method="post" action="#">
                    <fieldset>
                        <legend>
                            Search
                        </legend>
                        <div class="SelectInput">
                            <input class="InputHome LightScheme" type="text" value="Username" />
                        </div>
                        <div class="SelectInput">
                            <input class="InputHome LightScheme" type="password" value="Password" />
                        </div>
                        <p class="ForgotPass">
                            <a href="">Forgot password?</a>
                        </p>
                        <!--Change css-->
                        <!--remove class in tag a, add " MarginLogin " in tag p-->
                        <p class="ForgotPass MarginLogin">
                            <a href="">Login with Google</a>
                        </p>
                        <!--Change css-->
                        <span class="SavePass">
                            <!--<a href="#">Se souvenir de moi </a>--> <a href="#">Remember me</a>
                            <input type="checkbox" value="" class="CheckButton" />
                        </span>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="LoginBoxHomeHidden PaddingHiddenHome">
            <div class="LoginButtonLeft">
                <div class="LoginButtonRight">
                    <!--<input type="submit" value="connectez-vous" class="CommonFormBtn LoginButton" />-->
                    <input type="submit" value="Login" class="CommonFormBtn LoginButton" />
                </div>
            </div>
            <div class="Clr"></div>
            <label>
                Login in error mesage!
            </label>
        </div>
        <div id="loginBoxHomeBottom">
        </div>
    </div>
    <div class="ContentHomeMain">
        <div class="ContentImg">
            <a href="#">
                <img src="images/news.png" alt="Building Bell Logo" title="Building Bell Logo" />
            </a>
        </div>
        <div class="ContentText">
            <h2 class="TitleH2 DarkScheme">
                News
            </h2>
            <div class="Sumary LightScheme ">
                <p class="FontSumary">
                    08/09/2011
                </p>
                <h3 class="FontH3Home">
                    <a href="#">Copropriété : nouvelle loi active en septembre</a>
                </h3>
                <p class="NextButton FontSumary ">
                    Le 16 juillet dernier, la Chambre approuvait la nouvelle loi sur la copropriété.
                    Il était entendu qu’après son passage.. <a href="#">>> </a>
                </p>
            </div>
            <div class="Sumary LightScheme">
                <p class="FontSumary">
                    08/09/2011
                </p>
                <h3 class="FontH3Home">
                    <a href="#">Copropriété : nouvelle loi active en septembre</a>
                </h3>
                <p class="NextButton FontSumary ">
                    Le 16 juillet dernier, la Chambre approuvait la nouvelle loi sur la copropriété.
                    Il était entendu qu’après son passage.. <a href="#">>> </a>
                </p>
            </div>
        </div>
        <div class="Clr">
        </div>
    </div>
    <div class="BlockFunction">
        <div class="BlockFunctionColumnBalance">
            <div class="ContentBox1">
                <div class="Box1Img">
                    <img src="images/box-1.png" alt="Transaction Search Button" title="Search" />
                </div>
                <div class="Box1Text">
                    <h3 class="TitleH2 BoxTitle TitleColor">
                        Transaction Search
                    </h3>
                    <div class="BoxText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in velit id metus dignissim tincidunt vitae vitae nulla.
                    </div>
                    <div class="BoxSearch">
                        <input class="Input LightScheme" value="Search..." type="text" />
                        <input class="Submit" value="" type="submit" />
                    </div>
                </div>
                <div class="Clr">
                </div>
            </div>
            <div class="ContentBox2">
                <div class="Box2Img">
                    <img src="images/box-2.png" alt="Transaction Search Button" title="Search" />
                </div>
                <div class="Box2Text">
                    <h3 class="TitleH2 Box2Title Color">
                        Residence Locator
                    </h3>
                    <div class="BoxText2 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in velit id metus dignissim tincidunt vitae vitae nulla.
                    </div>
                    <div class="BoxSearch2">
                        <input class="Input LightScheme" value="Search..." type="text" />
                        <input class="Submit1" value="" type="submit" />
                    </div>
                </div>
                <div class="Clr">
                </div>
            </div>
            <div class="ContentBox3">
                <div class="Box3Img">
                    <img src="images/box-3.png" alt="Transaction Search Button" title="Search" />
                </div>
                <div class="Box3Text">
                    <h3 class="TitleH2 BoxTitle Color2">
                        Newsletter
                    </h3>
                    <div class="BoxText3 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in velit id metus dignissim tincidunt vitae vitae nulla.
                    </div>
                    <div class="BoxSearch3">
                        <input class="Input LightScheme" value="Your mail..." type="text" />
                        <input class="Submit2" value="" type="submit" />
                    </div>
                </div>
                <div class="Clr">
                </div>
            </div>
        </div>
    </div>
</div>