@model sitecorepro3.Areas.Product.Models.PromotionVM
@{
    ViewBag.Title = "GetPromotion";
}

<h2>Promotion Banner</h2>


    <div class="promotion-banner">
        <h5>@Model.Name</h5>
        <p>@Model.Description</p>
        <a href="#" class="btn btn-primary">Shop Now</a>
    </div>