@using Sitecore.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div>
    <form method="post">
        <label for="searchString">Search:</label>
        <input type="text" id="searchString" name="searchString" />
        <button type="submit">Submit</button>
    </form>
</div>

